body {
    background-color: #f1f1f1 !important;
    font-family: 'Bai Jamjuree' !important;
    margin: 0;
}

main {
    background-color: #f1f1f1;
}

abbr {
    font-style: italic;
}

h2 {
    font-family: 'Bai Jamjuree';
    font-weight: bold;
}

img.profile {
    display: block;
    border-radius: 100%;
    border: 1px solid silver;
    margin-top: 25px;
}

img.logo {
    margin: 10px;
    margin-left: 20px;
    margin-right: 50px;
}

.profile-info {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 100px;
}

.contacts {
    margin-top: 30px;
    background-color: #dddddd;
}

.contacts a {
    color: slateblue;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacts a:hover {
    background-color: #a09b9b;
    color: white;
}


footer {
    width: 100%;
    background-color: #22254a;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}


.job-section {
    margin-bottom: 20px;
}

.job-section .job-item {
    background-color: #eaeaea;
}

.job-section .job-item .job-head {
    background-color: #dddddd;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.job-section .job-item .job-body {
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}


.projects-section {
    margin-bottom: 20px;
}

.projects-section .project-item {
    background-color: #eaeaea;    
}

.projects-section .project-item .project-head {
    background-color: #dddddd;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.projects-section .project-item .project-body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}


.resume-button {
    border: 1px solid black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 20px;
}

.resume-button:hover {
    background-color: #dddddd;
    cursor: pointer;
}

#resume-link {
    text-decoration: none;
    color: black;
}
