body {
    background-color: #f1f1f1 !important;
    font-family: 'Bai Jamjuree' !important;
}

main {
    background-color: #f1f1f1;
}

abbr {
    font-style: italic;
}

h2 {
    font-family: 'Bai Jamjuree';
    font-weight: bold;
}

img.profile {
    display: block;
    border-radius: 5%;
    border: 1px solid silver;
}

img.logo {
    margin: 10px;
    margin-left: 20px;
    margin-right: 50px;
}

.profile-info {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 100px;
}

.contacts {
    margin-top: 30px;
}

.contacts a {
    color: slateblue;
}

.contacts a {
    text-decoration: none;
}

.contacts li {
    font-family: 'Bai Jamjuree';
    font-size: 1.2em;
}

.contacts li:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}


.info-item {
  margin-top: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid silver;
  width: 60%;
}

