#page-title {
    background-color: black;
    color: #ab920d;
    font-family: 'Aldrich';
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
    #header-text {
        display: none;
    }

    img.logo {
        margin: auto;
    }
}
