table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Bai Jamjuree' !important;
}

td:nth-child(1) {
    width: 30%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
